.head {
  height: 400px;
  background-color: #fffb00;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap
}

@media only screen and (min-width:1024px) {
  .head {
    margin-top: 0.5em;
    margin-left: 2em;
    width: 500px
  }
}
