//Fix the nav-bar so that the spacing is fixed and the arrows are placed at the bottom

.nav-Bar {
  border-style: solid;
	border-color:#FF4500;
  background-color: #4056A1;
  height: 120px;
  width: 100%;
  color: #ffffff;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-Bar :nth-child(1) {
  font-family: "Bungee";
  margin: 1.5em;
}

.nav-Bar :nth-child(2) {
  color: #ffffff;
  margin: 1.5em;
}

.nav-Bar :nth-child(3) {
  font-family: sans-serif;
  margin: 1.5em
}